@media only screen and (max-width: 414px) {
  main {
      width: 90% !important;
  }

  main .subscription-list{
    width: 100% !important;
  }
}

main {
  width: 80%;
  margin: 0 auto;
  padding: 0;
}

main h1 {
  font-size: 4em;
  margin: 20px 0px;
}

main .subscription-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: stretch;
}

main .subscription-list .subscription {
  width: calc(33% - 48px);
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0px 3px 11px #00000047;
  min-width: 280px;
  max-width: 360px;
  overflow: hidden;
  background: white;
  margin-top: 40px;
  text-align: center;
}

h1 {
    margin:  .5em 0 0em;
    padding-left: 5px;
}

div{
    margin-top: 0px;
    padding-top: 0px;
}

.break {
  width: 100px;
  border: 1px solid black;
}

#subheader {
  text-align: left;
  margin-bottom: 3px;
  
}

.subbutton {
  background-color: #4CAF50;
  border: none;
  border-radius: 2px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#subcontent{
  font-style: italic;
}